
  <div id="home-wrapper">
    <div id="bg-video-section">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="main-slider">
          <div class="slider-content text-center">
            <center><h1><span class="pacifico">Food on demand</span> <span class="bold">DINEWIRE</span></h1></center>
            <center><h2>Post Search Chat Eat</h2></center>
            <% if user_signed_in? %>
  <center><a class = "btn btn-primary btn-lg"<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>         
  </a></center>
<% else %>
  
<center><a class = "btn btn-primary btn-lg"<%= link_to('Log In', new_user_session_path)  %>  
  </a></center> 

<br><center><a class = "btn btn-primary btn-lg"<%= link_to('Sign Up',new_user_registration_path)  %>
  </a></center></br>

<% end %>
        </div>
      </div>
    <div id="video_background_video_0" style="z-index: -1; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden;"><video width="1334" height="750" autoplay="" loop="" onended="this.play()" style="position: absolute; top: 0px; left: -29px;"><source src="http://demo.themeregion.com/castle/foodcastle/video/food.mp4" type="video/mp4"><source src="http://demo.themeregion.com/castle/foodcastle/video/food.webm" type="video/webm"><source src="http://demo.themeregion.com/castle/foodcastle/video/food.ogg" type="video/ogg"></video></div></div>
  </div><!--/#home-wrapper-->
  
  
  
  
  
  <!--/#Demo Chooser--> 
  
  <!--/#scripts--> 
    
  <script>
    jQuery(document).ready(function($) {
      var Video_back = new video_background($("#bg-video-section"), { 
        "position": "absolute", //Follow page scroll
        "z-index": "-1",    //Behind everything
        "loop": true,       //Loop when it reaches the end
        "autoplay": true,   //Autoplay at start
        "muted": true,      //Muted at start
        "mp4":"http://demo.themeregion.com/castle/foodcastle/video/food.mp4" ,  //Path to video mp4 format
        "webm":"http://demo.themeregion.com/castle/foodcastle/video/food.webm" ,  //Path to video webm format
        "ogg":"http://demo.themeregion.com/castle/foodcastle/video/food.ogg" ,  //Path to video webm format
        "video_ratio": 1.7778,        // width/height -> If none provided sizing of the video is set to adjust
        "fallback_image": "/images/slider/2.jpg",  //Fallback image path
        "priority": "html5"       //Priority for html5 (if set to flash and tested locally will give a flash security error)
      });
    });
  </script>



